<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <link rel="icon" type="image/x-icon" href="images/favicon.png">
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <style>
    a, p, h3, td, tr, strong {
      font-size: 16px;
    }
  </style>
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:67%;vertical-align:middle">
              <h1>
                Zhengyu Liu
              </h1>
              <p>
                I am currently a first-year Ph.D. student in Computer Science at <a href="https://www.jhu.edu/">Johns Hopkins University</a>, advised by <a href="https://yinzhicao.org">Prof. Yinzhi Cao</a>. Before joining JHU, I received my bachelor's degree in Cybersecurity from <a href="https://scu.edu.cn/">Sichuan University</a>. During my undergrad, I was very fortunate to be advised by <a href="https://www.chenghuang.org/">Prof. Cheng Huang</a>.
              </p>
              <p>
                My research interest lies in Web Security, Software Security and AI for Security, especially leveraging program analysis approaches to automatically detect/exploit/patch vulnerabilities in real-world complex applications, softwares and system.
              </p>
              <p>
                Besides, I am a CTF player specializing in pwn and web challenges. I lead the team Z0D1AC (JHU academic team) and is a member of <a href="https://www.thehackerscrew.team/members">thehackerscrew</a> (international team, Top 10 in <a href="https://ctftime.org/">CTFTime.org</a>). 
              </p>
              <p>
                I played with team <a href="https://www.mccormick.northwestern.edu/computer-science/news-events/news/articles/2024/safeguarding-critical-software-infrastructure-through-novel-ai-systems.html">42-b3yond-6ug</a> in the <a href="https://aicyberchallenge.com/">AIxCC</a> competition, where we were awarded $2 million and advanced to the final competition (Top 7) in August 2025.
              </p>
              <p style="text-align:center">
<!--                 <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a>  -->
                <a href="https://mailhide.io/e/zmIXSlvn" onclick="popup=window.open('https://mailhide.io/e/zmIXSlvn','mailhidepopup','width=580,height=635'); return false;">Email</a>&nbsp;/&nbsp;
                <a href="https://github.com/jackfromeast">GitHub</a> &nbsp;/&nbsp;
                <a href="https://jackfromeast.site">Blog</a> &nbsp;/&nbsp;
                <a target="_blank" href="">CV</a> &nbsp;/&nbsp;
                <a target="https://scholar.google.com/citations?user=i8s4fWgAAAAJ&hl=zh-CN&oi=sra" href=""> Google Scholar </a> &nbsp;/&nbsp
                <a target="_blank" href=""> Linkedin </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/IMG_9657.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;font:15px">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td> -->
            <td style="padding:0% 2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <!-- <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} -->
              <em>{{post.venue}}</em>
              {% if post.award %}
              <br>
              <span style="color: red; "> <strong>{{post.award}}</strong></span>
              {% endif %}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle;">
              <div style="margin-bottom: 10px;">
                <h2>Capture The Flags</h2>
              </div>
              <table style="width:100%;table-layout:auto;">
                <tr>
                  <td style="white-space: nowrap; padding-bottom:10px;">Team member @ TheHackersCrew
                    <br>
                    <span style="font-weight:normal;">Won <strong>17</strong> medals for the year of 2023, <strong>8 <span style="color:gold">Gold</span> + 4 <span style="color:silver">Silver</span> + 3 <span style="color:burlywood">Bronze</span></strong></span>
                  </td>
                  <td style="text-align:right; padding-right:50px; vertical-align:top;"><em>2023 Jan. - Now</em></td>
                </tr>
                <tr>
                  <td style="white-space: nowrap;">Co-lead @ The Group Z0D1AC
                    <br>
                    <span style="font-weight:normal;">Achieved 2nd place RaymondJamesCTF 2024 <strong>($5000 cash prize)</strong>strong>, 3rd place RaymondJamesCTF 2023 <strong>($2500 cash prize)</strong>, etc.</span>
                  </td>
                  <td style="text-align:right; padding-right:50px; vertical-align:top;"><em>2022 Oct. - Now</em></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <div style="margin-bottom: 10px;">
                <h2>Selected Honors & Awards</h2>
              </div>
              <table style="width:100%;table-layout:auto;">
                <tr>
                  <td>Cybersecurity Elite Honor, School of Cyber Science and Engineering, Sichuan University</td>
                  <td style="text-align:right; padding-right:30px;"><em>2022 May</em> &emsp;</td>
                </tr>
                <tr>
                  <td>The 404 Scholarship, School of Cyber Science and Engineering, Sichuan University</td>
                  <td style="text-align:right; padding-right:30px;"><em>2022 Dec.</em> &emsp;</td>
                </tr>
                <tr>
                  <td>First Class Scholarship, School of Cyber Science and Engineering, Sichuan University</td>
                  <td style="text-align:right; padding-right:30px;"><em>2021 Sep.</em> &emsp;</td>
                </tr>
                <tr>
                  <td>Outstanding Student Honor, Sichuan University</td>
                  <td style="text-align:right; padding-right:30px;"><em>2020 & 2021</em> &emsp;</td>
                </tr>
              </table>
              <br>
              <table style="width:100%;table-layout:auto;">
                <tr>
                  <td>The 9th Place, 2021 ByteDance Security AI Competition, ByteDance(TikTok)</td>
                  <td style="text-align:right; padding-right:30px;"><em>2021 Nov.</em> &emsp;</td>
                </tr>
                <tr>
                  <td>The 2nd Place, School of Computing Summer Workshop, National University of Singapore</td>
                  <td style="text-align:right; padding-right:30px;"><em>2021 July</em> &emsp;</td>
                </tr>
                <tr>
                  <td>Excellent Thesis, Innovation and Entrepreneurship Training Program for College Students</td>
                  <td style="text-align:right; padding-right:30px;"><em>2020 Sep.</em> &emsp;</td>
                </tr>
                <tr>
                  <td>Third Prize, The 4th “Qiangwang Cup” National Cybersecurity Challenge</td>
                  <td style="text-align:right; padding-right:30px;"><em>2020 Sep.</em> &emsp;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <div style="margin-bottom: 10px;">
                <h2>Professional Services</h2>
              </div>
              <table style="width:100%;border-spacing:0;">
                <tr>
                  <td>External Reviewer</td> <!-- Adjust padding here -->
                  <td>
                    <p style="margin:0;">
                      (Usenix '25) 34th USENIX Security Symposium
                      <br>
                      (Usenix '24) 33rd USENIX Security Symposium
                      <br>
                      (CSF 24') 37th IEEE Computer Security Foundations Symposium 
                      <br>
                      (DIMVA '24) 21th Conference on Detection of Intrusions and Malware & Vulnerability Assessment
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Experiences</h2>
              <table style="width:100%;table-layout:auto;">
                <tr>
                  <td>Course Assistant, EN.601.340/440/640 Web Security (23 Fall), JHU</td>
                  <td><em>2023 Sep. - 2023 Dec.</em> &emsp;</td>
                </tr>
                <tr>
                  <td>Research Assistant, JHU, Advisor: Dr. Yinzhi Cao</td>
                  <td><em>2023 June - 2023 Aug.</em> &emsp;</td>
                </tr>
                <tr>
                  <td>Research Assistant, Sichuan University, Advisor: Dr. Cheng Huang</td>
                  <td><em>2020 Aug. - 2022 June</em> &emsp;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <div style="margin-bottom: 10px;">
                <h2>StarBugs</h2>
              </div>
              A selective list of zero-day vulnerabilities I have discovered in the past.
              <table style="width:100%;table-layout:auto;">
                <tr>
                  <td><a href="https://github.com/advisories/GHSA-9q39-rmj3-p4r2">CVE-2024-43805</a></td>
                  <td>Jupyter Notebook/JupyterLab</td>
                  <td>Stored XSS</td>
                </tr>
                <tr>
                  <td><a href="https://github.com/hackmdio/codimd/security/advisories/GHSA-22jv-vch8-2vp9">CVE-2024-38354</a></td>
                  <td>Hackmd.io</td>
                  <td>Stored XSS</td>
                </tr>
                <tr>
                  <td><a href="https://github.com/sagemathinc/cocalc/security/advisories/GHSA-392m-jj94-j3jx">CVE-2024-41669</a></td>
                  <td>Cocalc</td>
                  <td>Stored XSS</td>
                </tr>
                <tr>
                  <td><a href="https://github.com/advisories/GHSA-4vvj-4cpr-p986">CVE-2024-43788</a></td>
                  <td>Webpack</td>
                  <td>DOM Clobbering</td>
                </tr>
                <tr>
                  <td><a href="https://github.com/advisories/GHSA-gprj-6m2f-j9hx">CVE-2024-45389</a></td>
                  <td>pagefind</td>
                  <td>DOM Clobbering</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

