---
layout: default
title: Vulnerabilities
---

<h2>Published CVEs</h2>
<table style="width:100%;border-collapse:collapse;">
  <thead>
    <tr>
      <th>CVE ID</th>
      <th>Product</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for vuln in site.data.vulns %}
    <tr>
      <td>
        <a href="{{ vuln.link }}" target="_blank">{{ vuln.cve }}</a>
      </td>
      <td>
        <a href="{{ vuln.product_link }}" target="_blank">{{ vuln.product }}</a>
      </td>
      <td>{{ vuln.type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>